# Dependencies
node_modules/
/.pnp
.pnp.js
yarn.lock
package-lock.json

# Testing
/coverage

# Production
/build
/dist
/.next
/out

# Environment Variables
.env
.env.local

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Media Files
media/

# Python
*.pyc
__pycache__/
db.sqlite3
/media/
