/* Only essential Swiper overrides */
.swiper-pagination-bullet {
    background-color: white !important;
}

.swiper-button-next,
.swiper-button-prev {
    background: none !important;
    color: white !important;
}